<?xml version="1.0" encoding="UTF-8"?>
<!--
    Customization of the slider question theme.
-->

<config>
    <!-- Those metadata will be displayed in the template configuration page. They are not used for now. -->
    <metadata>
        <name>slidersWithControls</name>
        <creationDate>24/10/2018</creationDate>
        <author>Tony Partner</author>
        <authorEmail>tpartner@partnersurveys.com</authorEmail>
        <authorUrl>http://partnersurveys.com</authorUrl>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <description>Buttons added to sliders for fine value control.</description>
    </metadata>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename>css/controlSliders.css</filename>
        </css>
        <js>
            <filename>scripts/controlSliders.js</filename>
        </js>
        <preview>
            <filename>../../../../../../../../../../upload/themes/question/sliderWithControls/survey/questions/answer/multiplenumeric/assets/slider_with_controls.png</filename>
        </preview>
    </files>

    <custom_attributes>
        <!-- New attributes -->
        <attribute>
            <name>down_text</name>
            <category>Custom theme options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <default>-</default>
            <help>Text or character in the "Down" button</help>
            <caption>"Down" text</caption>
        </attribute>
		
        <attribute>
            <name>up_text</name>
            <category>Custom theme options</category>
            <sortorder>1</sortorder>
            <inputtype>text</inputtype>
            <default>+</default>
            <help>Text or character in the "Up" button</help>
            <caption>"Up" text</caption>
        </attribute>
		
        <attribute>
            <name>callout_prefix</name>
            <category>Custom theme options</category>
            <sortorder>2</sortorder>
            <inputtype>text</inputtype>
            <help>Prefix for the value displayed in the slider tooltip</help>
            <caption>Prefix for tooltip</caption>
        </attribute>
		
        <attribute>
            <name>callout_suffix</name>
            <category>Custom theme options</category>
            <sortorder>3</sortorder>
            <inputtype>text</inputtype>
            <help>Suffix for the value displayed in the slider tooltip</help>
            <caption>Suffix for tooltip</caption>
        </attribute>
		
        <attribute>
            <name>scrolling</name>
            <category>Custom theme options</category>
            <sortorder>4</sortorder>
            <!--
			<inputtype>buttongroup</inputtype>
            <options>
                <yes>Yes</yes>
                <no>No</no>
            </options>
			-->
            <inputtype>switch</inputtype>
            <options>
                <no>No</no> <!-- Switch returns value 0 -->
                <yes>Yes</yes> <!-- Switch returns value 1 -->
            </options>
            <default>0</default>
            <help>Continuous slider movement if left mouse button held down.</help>
            <caption>Slider scrolling enabled</caption>
        </attribute>
		
		<attribute>
            <name>scrolling_interval</name>
            <category>Custom theme options</category>
            <sortorder>5</sortorder>
            <inputtype>integer</inputtype>
            <default>150</default>
            <min>0</min>
            <help>Interval between slider movement when scrolling (in miliseconds)</help>
            <caption>Scrolling time interval (in miliseconds)</caption>
        </attribute>
		
        <!-- Hide/disable some core attributes -->
        <attribute>
            <name>equals_num_value</name>
            <category>Disabled options</category>
            <sortorder>2</sortorder>
            <inputtype></inputtype>
            <help>This setting is not available in this question theme.</help>
            <caption>Equals sum value (not required)</caption>
        </attribute>
	    <attribute>
            <name>num_value_int_only</name>
            <category>Disabled options</category>
            <sortorder>3</sortorder>
            <inputtype></inputtype>
			<default>0</default>
            <help>This setting is not available in this question theme.</help>
            <caption>Integer only (not required)</caption>
        </attribute>
        <attribute>
            <name>maximum_chars</name>
            <category>Disabled options</category>
            <sortorder>4</sortorder>
            <inputtype></inputtype>
            <help>This setting is not available in this question theme.</help>
            <caption>Maximum characters (not required)</caption>
        </attribute>
        <attribute>
            <name>max_num_value</name>
            <category>Disabled options</category>
            <sortorder>5</sortorder>
            <inputtype></inputtype>
            <help>This setting is not available in this question theme.</help>
            <caption>Maximum sum value (not required)</caption>
        </attribute>
        <attribute>
            <name>max_num_value_n</name>
            <category>Disabled options</category>
            <sortorder>6</sortorder>
            <inputtype></inputtype>
            <help>This setting is not available in this question theme.</help>
            <caption>Maximum value (not required)</caption>
        </attribute>
        <attribute>
            <name>min_num_value</name>
            <category>Disabled options</category>
            <sortorder>7</sortorder>
            <inputtype></inputtype>
            <help>This setting is not available in this question theme.</help>
            <caption>Minimum sum value (not required)</caption>
        </attribute>
        <attribute>
            <name>min_num_value_n</name>
            <category>Disabled options</category>
            <sortorder>8</sortorder>
            <inputtype></inputtype>
            <help>This setting is not available in this question theme.</help>
            <caption>Minimum value (not required)</caption>
        </attribute>
        <attribute>
            <name>text_input_width</name>
            <category>Disabled options</category>
            <sortorder>10</sortorder>
            <inputtype></inputtype>
            <help>This setting is not available in this question theme.</help>
            <caption>Text input box width (not required)</caption>
        </attribute>
        <attribute>
            <name>input_size</name>
            <category>Disabled options</category>
            <sortorder>11</sortorder>
            <inputtype></inputtype>
            <help>This setting is not available in this question theme.</help>
            <caption>Text input size (not required)</caption>
        </attribute>
        <attribute>
            <name>slider_layout</name>
            <category>Slider</category>
            <sortorder>1</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <no>No</no> <!-- Switch returns value 0 -->
                <yes>Yes</yes> <!-- Switch returns value 1 -->
            </options>
			<default>1</default>
            <help>This setting is fixed in this question theme.</help>
            <caption>Use slider layout (defaulted to "On")</caption>
            <readonly>true</readonly>
        </attribute>
    </custom_attributes>

    <!-- Here datas about how LimeSurvey should load the core js/css of the question -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>

        <!-- Here, you can publish packages set as third party extensions in application/config/third_party or  application/config/package -->
        <!-- If bootstrap is registered as a css framework, it will be loaded first -->
        <packages>
			<!--
            <add>qTip2</add>
            <add>bootstrap/plugins/datetimepicker</add>
			-->
		</packages>
    </engine>
</config>
